:root {
  --white: #fff;
  --lightgrey: #e4e4ef;
  --verylightgrey: #f4f6f8;
  --main: #01012e;
  --mainlight: #6f7182;
  --icon: #a1a1af;
  --shadow: rgba(161, 161, 175, 0.1);
  --green: #68fdcd;
  --pink: #f6547d;
  --blue: #1d86d7;
}
body {
  font-family: "Roboto", sans-serif;
}
.task_infos {
  display: flex;
  justify-content: space-between;
}

.inner {
  position: relative;
  transition: all 0.3s;
}
.task:hover > .inner {
  position: relative;
  padding-left: 20px;
}

.task {
  position: relative;
  background: var(--white);
  border-radius: 10px;
  padding: 15px 15px 15px 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 20px;
  box-shadow: var(--shadow) 0 0 10px;
  transition: 0.5s;
  width: 400px;
  height: 150px;
}

.task:before {
  content: "";
  display: flex;
  background: var(--white);
  position: absolute;
  transition: 0.3s;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 6px;
  top: 0;
  bottom: 0;
  left: 0;
}

.task.green:before {
  background: var(--green);
}

.task:hover:before {
  width: 30px;
  content: "\f1f8";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  color: var(--white);
  transition: color 0;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
